<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    {% if user.is_authenticated %}
    <a> Hi {{ user.username }}! </a>
    <a> path: {{ path_present }}! </a>
    <form action="/" method="POST">
        {% csrf_token %}
        <button type="submit">HOME</button>
    </form>
    <form action="/A/" method="POST">
        {% csrf_token %}
        <button type="submit">A</button>
    </form>
    <form action="/C/" method="POST">
        {% csrf_token %}
        <button type="submit">C</button>
    </form>
    <form action="/D/" method="POST">
        {% csrf_token %}
        <button type="submit">D</button>
    </form>
    <form action="/E/" method="POST">
        {% csrf_token %}
        <button type="submit">E</button>
    </form>
    <form action="/F/" method="POST">
        {% csrf_token %}
        <button type="submit">F</button>
    </form>
    <form action="/G/" method="POST">
        {% csrf_token %}
        <button type="submit">G</button>
    </form>
    <form action="/H/" method="POST">
        {% csrf_token %}
        <button type="submit">H</button>
    </form>
    <form action="/I/" method="POST">
        {% csrf_token %}
        <button type="submit">I</button>
    </form>
    <form action="/J/" method="POST">
        {% csrf_token %}
        <button type="submit">J</button>
    </form>
    <form action="/result/" name="re" method="POST">
        {% csrf_token %}
        <button type="submit">result</button>
    </form>
    <form action="/logout/" method="POST">
        {% csrf_token %}
        <button type="submit">logout</button>
    </form>
    {% endif %}
</body>

</html>